<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestafacil</title>
</head>
<body>
    <% if (error) { %>
        <h1><%= error %>!</h1>
      <% } %>
<table>
    <thead>
      <tr>
        <th>Nombre completo</th>
        <th>Cédula</th>
        <th>Número Telefonico</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% for (const persona of info) { %>
        <tr>
          <td><%= persona['Nombre completo'] %></td>
          <td><%= persona.cedula %></td>
          <td><%= persona.numero %></td>
          <td><%= persona.estado %></td>
          <td> 
          <form method="POST" action="/eachReport">
            <input type="hidden" name="id_usuarios" value="<%= persona.id_usuarios %>">
            <button type="submit">Ver reporte De prestamos</button>
          </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <form action="/allLoans" method="post">
    <button>todos los prestamos activos</button>
  </form>
  <form action="/profits" method="post">
    <button>ver ganancias</button
  </form>
</body>
</html>